<main class="profile-page">
  <section class="section-profile-cover section-shaped my-0">
    <!-- Circles background -->
    <div class="shape shape-style-1 shape-primary alpha-4">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
    <!-- SVG separator -->
    <div class="separator separator-bottom separator-skew">
      <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
        <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
      </svg>
    </div>
  </section>
  <section class="section">
    <div class="container">
      <div class="card card-profile shadow mt--300">
        <div class="px-4">
          <div class="row justify-content-center">
            <div class="col-lg-3 order-lg-2">
              <div class="card-profile-image">
                <a href="javascript:void(0)">
                  <img src="./assets/img/theme/Logo-A7N.jpg" class="rounded-circle">
                </a>
              </div>
            </div>
            <div class="col-lg-4 order-lg-3 text-lg-right align-self-lg-center">
              <div class="card-profile-actions py-4 mt-lg-0">
                <!-- <a href="javascript:void(0)" class="btn btn-sm btn-info mr-4">Connect</a>
                <a href="javascript:void(0)" class="btn btn-sm btn-default float-right">Message</a> -->
              </div>
            </div>
            <div class="col-lg-4 order-lg-1">
              <div class="card-profile-stats d-flex justify-content-center">
                <!-- <div>
                  <span class="heading">22</span>
                  <span class="description">Friends</span>
                </div>
                <div>
                  <span class="heading">10</span>
                  <span class="description">Photos</span>
                </div>
                <div>
                  <span class="heading">89</span>
                  <span class="description">Comments</span>
                </div> -->
              </div>
            </div>
          </div>
          <div class="text-center" style="margin-top: 100px;">
            <h3>A7N Sistemas
              <span class="font-weight-light"> 08/2021</span>
            </h3>
            <div class="h6 font-weight-300"><i class="ni location_pin mr-2"></i>Cuiabá, Brasil</div>
            <div class="h6 mt-4"><i class="ni business_briefcase-24 mr-2"></i>Sistemas e soluções</div>
            <div><i class="ni education_hat mr-2"></i>Empresa de desenvolvimento de sistema, cursos e consultorias</div>
          </div>
          <div class="mt-5 py-5 border-top text-center">
            <div class="row justify-content-center">
              <div class="col-lg-9">
                <p>A A7N é uma empresa estabelecida em 2021, dedicada a fornecer uma gama diversificada de serviços, incluindo desenvolvimento de sistemas, cursos de informática, consultoria em utilização de sistemas e cursos de Excel. Sua trajetória de sucesso remonta a mais de 8 anos, mesmo antes de sua formalização como empresa. Especializada no desenvolvimento de sistemas com tecnologias avançadas, a A7N emprega Java no backend e Angular no frontend, além de possuir expertise em outras linguagens e frameworks como Angular, React Native, TypeScript, JPA e Hibernate.
                  A empresa destaca-se pela oferta de soluções personalizadas de sistemas web, bem como pela disponibilização de sistemas financeiros e de controle de safra por meio de assinaturas. Além disso, a A7N tem capacidade para desenvolver aplicativos para Android e iOS, ampliando seu alcance e atendendo às necessidades dos clientes em múltiplas plataformas.
                  Além de sua competência técnica, a empresa também oferece serviços de consultoria em planejamento estratégico, mapeamento de processos e gerenciamento de projetos, agregando valor aos seus clientes ao proporcionar uma abordagem abrangente e integrada às suas necessidades empresariais.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
