<section class="section section-lg">
  <div class="container">
    <div class="row row-grid justify-content-center">
      <div class="col-lg-8 text-center">
        <h2 class="display-3">Entre em contato
        </h2>
        <!-- <p class="lead">Seguem alguns dos parceiros que já utilizaram dos serviços.</p> -->
        <div class="btn-wrapper">
          <a href="https://www.creative-tim.com/product/argon-design-system-angular?ref=adsa-versions-section" class="btn btn-primary mb-3 mb-sm-0">Clique aqui!</a>
        </div>
        <div class="text-center">
          <h4 class="display-4 mb-5 mt-5">Seguem alguns dos perceiros</h4>
          <div class="row justify-content-center">
            <div class="col-lg-2 col-4">
              <a placement="top" ngbTooltip="MPX Brasil">
                <img src="assets/img/theme/MPX Brasil.jpg" class="img-fluid">
              </a>
            </div>
            <div class="col-lg-2 col-4">
              <a placement="top" ngbTooltip="Louis Dreyfus Company">
                <img src="assets/img/theme/Louis Dreyfus Company.png" class="img-fluid">
              </a>
            </div>
            <div class="col-lg-2 col-4">
              <a placement="top" ngbTooltip="Microlins">
                <img src="assets/img/theme/Microlins.jpg" class="img-fluid">
              </a>
            </div>
            <div class="col-lg-2 col-4">
              <a placement="top" ngbTooltip="Alliance Medical">
                <img src="assets/img/theme/Alliance Medical.jpeg" class="img-fluid">
              </a>
            </div>
            <div class="col-lg-2 col-4">
              <a placement="top" ngbTooltip="Confiança Turismo">
                <img src="assets/img/theme/Confiança Turismo.jpeg" class="img-fluid">
              </a>
            </div>
            <div class="col-lg-2 col-4">
              <a placement="top" ngbTooltip="Doca 27 Sistemas">
                <img src="assets/img/theme/Doca27.jpeg" class="img-fluid">
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
